* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fffafa;
  font-family: "Kumbh Sans";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #172a33;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

h1 {
  color: #c7ae6a;
  font-size: 5rem;
  font-weight: 700;
}

h2 {
  font-size: 5rem;
  text-align: center;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

p {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  p {
    font-size: 1.2em;
  }
}

a {
  height: 35px;
  padding: 0 10px;
  border-radius: 25px;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  line-height: 35px;
  font-size: 1.2em;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 100%;
  height: 75px;
  padding: 0 50px;
  border-bottom: 1px solid #d4af37;
  background-color: #172a33;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .navLeft {
  display: flex;
  align-items: center;
}

nav .navLeft img {
  height: 75px;
  margin-right: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}

nav .navLeft a {
  background-color: #c7ae6a;
  color: #172a33;
}

nav label,
nav #menuSelector {
  display: none;
}

nav .navRight {
  display: flex;
  justify-content: end;
  align-items: center;
}

nav .navRight a {
  margin: 0 10px;
  background-color: #c7ae6a;
  color: #172a33;
}

@media (max-width: 1200px) {
  nav {
    padding: 0 20px;
  }

  nav .navLeft img {
    margin-right: 20px;
  }

  nav label {
    display: block;
    line-height: 75px;
    font-size: 50px;
  }

  nav .navRight {
    display: none;
    position: fixed;
    top: 75px;
    right: 0;
    flex-direction: column;
  }

  nav .navRight a {
    width: 50vw;
    height: 75px;
    margin: 0;
    border: 1px solid #000000;
    border-radius: 0%;
    border-left: 1px solid #d4af37;
    border-bottom: 1px solid #d4af37;
    line-height: 75px;
    font-size: 35px;
  }

  nav #menuSelector:checked + .navRight {
    display: flex;
  }
}

@media (max-width: 768px) {
  nav .navRight a {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: 1px solid #000000;
  }
}

#heroSection {
  height: 800px;
  max-height: 90vh;
  margin-top: 75px;
  background-image: url(../images/Company_social_photo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center;
  border-bottom: 1px solid #d4af37;
}

#heroSection h1 {
  margin-left: 20vw;
  padding-top: calc(15vh - 75px);
  line-height: 1;
}

#heroSection .button {
  margin-left: 20vw;
  border-radius: 25px;
  background-color: #ec9a29;
}

#heroSection p {
  width: 500px;
  max-width: 70vw;
  margin-left: 20vw;
  margin-top: 35px;
  font-size: 1.2em;
}

@media (max-width: 1200px) {
  #heroSection {
    background-image: url(../images/Company_social_photo.png);
    height: 50vh !important;
  }
}

@media (max-width: 768px) {
  #heroSection {
    background-image: url(../images/Company_social_photo.png);
    height: 30vh !important;
  }

  #heroSection h1 {
    color: #172a33;
  }

  #heroSection p {
    width: 250px;
  }
}

#logoBanner {
  width: 100vw;
  max-width: 100%;
  height: 75px;
  max-width: 100%;
  border-bottom: 1px solid #d4af37;
  background-color: #d4af37;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logoBanner img {
  height: 45px;
  margin: 0 10px;
  -o-object-fit: contain;
  object-fit: contain;
}

@media (max-width: 768px) {
  #logoBanner img {
    margin: 0 5px;
  }
}

#about {
  padding: 80px 0;
  border-bottom: 1px solid #d4af37;
}

#about h2 {
  margin-bottom: 25px;
}

#about .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .wrapper img {
  height: 200px;
  -o-object-fit: contain;
  object-fit: contain;
}

#about .wrapper p {
  max-width: 600px;
  margin-left: 50px;
}

#about .wrapper p a {
  background-color: #c7ae6a;
}

@media (max-width: 1200px) {
  #about .wrapper p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #about {
    padding: 50px 0;
  }

  #about .wrapper {
    flex-direction: column;
  }

  #about .wrapper p {
    margin: 0;
  }

  #about .wrapper img {
    margin-bottom: 15px;
  }
}

#portfolio {
  padding: 50px 0;
  text-align: center;
  border-bottom: 1px solid #d4af37;
}

#portfolio p {
  margin-bottom: 50px;
}

#portfolio .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}

#portfolio .wrapper .portfolioItem {
  border-radius: 20px;
  background-color: #c7ae6a;
}

#portfolio .wrapper .portfolioItem img {
  width: 100%;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

#portfolio .wrapper .portfolioItem h3 {
  margin: 10px 0;
  padding: 0 50px;
  font-size: 1.5em;
}

#portfolio .wrapper .portfolioItem p {
  margin-bottom: 15px;
  padding: 0 50px;
  font-size: 1.2em;
}

#portfolio .wrapper .portfolioItem .logoWrapper {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio .wrapper .portfolioItem .logoWrapper img {
  width: auto;
  height: 20px;
  margin: 0 5px;
  -o-object-fit: contain;
  object-fit: contain;
}

#portfolio .wrapper .portfolioItem a {
  display: block;
  width: 200px;
  margin: 20px auto;
  background-color: #000000;
}

@media (max-width: 1200px) {
  #portfolio .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 35px;
  }

  #portfolio .wrapper .portfolioItem h3 {
    padding: 0 20px;
  }

  #portfolio .wrapper .portfolioItem p {
    margin-bottom: 20px;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  #portfolio .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 25px;
  }
}

#games {
  padding: 50px 0;
  text-align: center;
  border-bottom: 1px solid #d4af37;
}

#games p {
  margin-bottom: 50px;
}

#games .gameWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}

#games .gameWrapper .gameItem {
  border-radius: 20px;
  background-color: #c7ae6a;
}

#games .gameWrapper .gameItem img {
  width: 100%;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

#games .gameWrapper .gameItem h3 {
  margin: 10px 0;
  padding: 0 50px;
  font-size: 1.5em;
}

#games .gameWrapper .gameItem p {
  margin-bottom: 15px;
  padding: 0 50px;
  font-size: 1.2em;
}

#games .gameWrapper .gameItem .logoWrapper {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#games .gameWrapper .gameItem .logoWrapper img {
  width: auto;
  height: 20px;
  margin: 0 5px;
  -o-object-fit: contain;
  object-fit: contain;
}

#games .gameWrapper .gameItem a {
  display: block;
  width: 200px;
  margin: 20px auto;
  background-color: #000000;
}

@media (max-width: 1200px) {
  #games .gameWrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 35px;
  }

  #games .gameWrapper .gameItem h3 {
    padding: 0 20px;
  }

  #games .gameWrapper .gameItem p {
    margin-bottom: 20px;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  #games .gameWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 25px;
  }
}

#contact {
  width: 80vw;
  height: 700px;
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 1fr;
  overflow: hidden;
  background-color: #d4af37;
}

#contact form {
  padding: 20px 30px;
}

#contact form p {
  color: #172a33;
  margin-bottom: 35px;
}

#contact form div p {
  color: red;
  font-size: smaller;
  margin-bottom: 0px;
}

#contact form .field {
  margin-bottom: 10px;
}

#contact form .field label {
  display: block;
  margin-bottom: 1px;
}

#contact form .field input {
  height: 30px;
  width: 80%;
  border: none;
  color: #d4af37;
}

#contact form .field #requestField {
  height: 100px;
}

#contact form .field input[type="submit"] {
  width: 50%;
  background-color: #172a33;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
}

#contact img {
  height: 600px;
  -o-object-fit: contain;
  object-fit: contain;
}

.error {
  border-color: red;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  outline: none;
}

/* media between 1200px and 768px */

@media (max-width: 1200px) and (min-width: 768px) {
  #contact {
    height: 650px;
  }
  #contact form .field input {
    width: 100%;
  }

  #contact form .field input[type="submit"] {
    width: 100%;
  }
  #contact img {
    height: 300px;
  }

  #contactParagraph {
    font-size: large;
  }

  #contact form div p {
    font-size: x-small;
  }
}

/* media less than 768px */

@media (max-width: 768px) {
  #contact {
    height: 650px;
  }

  #contact form {
    grid-column: 1 / span 2;
  }

  #contact img {
    display: none;
  }
}

#footer {
  width: 100vw;
  max-width: 100%;
  padding: 50px;
  background-color: #172a33;
  text-align: center;
  border-top: 1px solid #d4af37;
}

#footer h3 {
  color: #d4af37;
}
