* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fffafa;
  font-family: "Kumbh Sans";
}

body {
  background-color: #172a33;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

h1 {
  color: #c7ae6a;
  font-size: 5rem;
  font-weight: 700;
}

h2 {
  font-size: 5rem;
  text-align: center;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

p {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  p {
    font-size: 1.2em;
  }
}

a {
  height: 35px;
  padding: 0 10px;
  border-radius: 25px;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  line-height: 35px;
  font-size: 1.2em;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 100%;
  height: 75px;
  padding: 0 50px;
  border-bottom: 1px solid #d4af37;
  background-color: #172a33;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .navLeft {
  display: flex;
  align-items: center;
}

nav .navLeft img {
  height: 75px;
  margin-right: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}

nav .navLeft a {
  background-color: #c7ae6a;
  color: #172a33;
}

nav label,
nav #menuSelector {
  display: none;
}

nav .navRight {
  display: flex;
  justify-content: end;
  align-items: center;
}

nav .navRight a {
  margin: 0 10px;
  background-color: #c7ae6a;
  color: #172a33;
}

@media (max-width: 1200px) {
  nav {
    padding: 0 20px;
  }

  nav .navLeft img {
    margin-right: 20px;
  }

  nav label {
    display: block;
    line-height: 75px;
    font-size: 50px;
  }

  nav .navRight {
    display: none;
    position: fixed;
    top: 75px;
    right: 0;
    flex-direction: column;
  }

  nav .navRight a {
    width: 50vw;
    height: 75px;
    margin: 0;
    border: 1px solid #000000;
    border-radius: 0%;
    border-left: 1px solid #d4af37;
    border-bottom: 1px solid #d4af37;
    line-height: 75px;
    font-size: 35px;
  }

  nav #menuSelector:checked + .navRight {
    display: flex;
  }
}

@media (max-width: 768px) {
  nav .navRight a {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: 1px solid #000000;
  }
}

header {
  width: 100vw;
  max-width: 100%;
  height: 480px;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

header p {
  max-width: 50%;
  margin-bottom: 30px;
}

header .buttonContainer {
  display: flex;
}

header .buttonContainer a {
  margin: 0 10px;
  background-color: #c7ae6a;
}

@media (max-width: 768px) {
  header {
    height: 330px;
  }

  header h1 {
    font-size: 3rem;
  }

  header p {
    max-width: 85%;
    margin-bottom: 20px;
    font-size: 1rem;
  }

  header .buttonContainer {
    flex-direction: column;
  }

  header .buttonContainer a {
    height: 25px;
    margin: 5px 0;
    line-height: 25px;
  }
}

#logoBanner {
  width: 100vw;
  max-width: 100%;
  height: 75px;
  max-width: 100%;
  border-bottom: 1px solid #d4af37;
  background-color: #d4af37;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logoBanner img {
  height: 45px;
  margin: 0 10px;
  -o-object-fit: contain;
  object-fit: contain;
}

@media (max-width: 768px) {
  #logoBanner img {
    margin: 0 5px;
  }
}

main {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #172a33;
}

main img {
  max-width: 80vw;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

@media (max-width: 768px) {
  main {
    padding: 80px;
  }
}

#footer {
  width: 100vw;
  max-width: 100%;
  padding: 50px;
  background-color: #172a33;
  text-align: center;
  border-top: 1px solid #c7ae6a;
}

#footer h3 {
  color: #c7ae6a;
}
